* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// GLOBAL
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
  font-family: "Montserrat";
}

// NAVBAR
.navbar {
  background: #32afa9;
  color: #fff;
  height: 90px;
  width: 100%;
  padding: 10px 150px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10000;

  .logo {
    display: flex;
    align-items: center;
    height: 100%;

    i {
      font-size: 2.5rem;
      margin-right: 5px;
    }

    h1 {
      margin: 0;
      margin-top: 5px;
      font-size: 1.7rem;
    }

    a {
      color: #fff;
    }
  }

  .links {
    ul {
      display: flex;

      li {
        margin: 0 15px;
        list-style: none;
      }
    }

    a {
      color: #fff;
      font-weight: 500;
      font-size: 1.3rem;
    }
  }
}

// CONTAINER
// .container {
// }

// LANDING
.landing {
  min-height: calc(100vh - 90px);

  // HERO
  .hero {
    background: #32afa9;
    height: calc(100vh - 90px);
    padding: 50px 150px;
    padding-bottom: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

    .left {
      width: 50%;

      h1 {
        color: #fff;
        font-family: "Montserrat";
        font-size: 5rem;
        line-height: 1.3;
        font-weight: 900;
        margin-bottom: 50px;
      }

      margin-bottom: 100px;

      .buttons {
        .hero-button {
          color: #252525;
          background: #eee;
          font-family: "Montserrat";
        }
      }
    }

    .right {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: hidden;
      height: 100%;

      img {
        // position: absolute;
        // width: 70%;
        // transform: rotate(10deg);

        transform: rotate(20deg);
        height: 100%;
        position: absolute;
        top: 10%;
      }
    }
  }

  //ABOUT
  .about {
    padding: 100px 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    div {
      width: 33.3333%;
      text-align: center;
      padding: 5%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      i {
        color: #32afa9;
        margin-bottom: 1rem;
        font-size: 4.3rem;
      }

      h3 {
        font-size: 2.3rem;
        font-weight: 900;
      }

      p {
        font-size: 1.5rem;
      }
    }
  }

  // TESTIMONIAL
  .testimonial {
    background: #32afa9;
    padding: 100px 150px;
    text-align: center;

    .slick-prev,
    .slick-next {
      &::before {
        font-size: 30px;
      }
    }

    div {
      h3 {
        font-family: "Montserrat";
        font-size: 3.3rem;
        font-weight: 900;
        color: #fff;
        max-width: 1140px;
        margin: auto;
        margin-bottom: 50px;
      }

      .image {
        width: 250px;
        height: 250px;
        margin: auto;

        img {
          border-radius: 50%;
          height: 100%;
          width: 100%;
        }
      }

      span {
        color: #fff;
        font-size: 1.3rem;
        margin-top: 15px;
        display: block;
      }
    }
  }
}

// REGISTER
.register {
  height: calc(100vh - 90px);

  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  position: relative;

  button {
    position: absolute;
    z-index: 300;
    left: 0;
    top: 100px;
  }

  .left {
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 200;
    background: #fff;
    // background: pink;
    transition: 0.3s ease-in-out all;
  }

  .right {
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 100;
    left: 50%;
    background: lightgrey;
    transition: 0.3s ease-in-out all;
  }

  .overlay {
    width: 50%;
    background: black;
    position: absolute;
    height: 100%;
    z-index: 200;

    transition: 0.3s ease-in-out all;
    color: #fff;
  }

  .stickRight {
    left: 50%;
  }

  .stayBelow {
    opacity: 0;
    transition: 0.3s ease-in-out all;
  }

  .stickLeft {
    left: 0;
  }
}
