* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// GLOBAL
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
  font-family: "Montserrat";
}

// NAVBAR
.navbar {
  background: linear-gradient(to right, #15cda8, #12d3cf);
  color: #fff;
  height: 90px;
  width: 100%;
  padding: 10px 200px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10000;

  .logo {
    display: flex;
    align-items: center;
    height: 100%;

    i {
      font-size: 2.5rem;
      margin-right: 5px;
    }

    h1 {
      margin: 0;
      margin-top: 5px;
      font-size: 1.7rem;
    }

    a {
      color: #fff;
    }
  }

  .links {
    ul {
      display: flex;

      li {
        margin: 0 5px;
        list-style: none;
      }
    }

    a {
      color: #fff;
      font-weight: 500;
      font-size: 1.3rem;
    }

    .link {
      height: 100%;

      i {
        font-size: 17px;
      }

      .label {
        font-weight: 600;
        font-size: 15px;
      }
    }
  }

  @media only screen and (max-width: 1540px) {
    padding: 10px 90px;
  }

  @media only screen and (max-width: 1140px) {
    padding: 10px 60px;
  }

  @media only screen and (max-width: 767px) {
    padding: 10px 35px;

    .links {
      .link {
        .label {
          display: none;
        }
      }
    }
  }
}

// CONTAINER
// .container {
//   position: relative;
// }

// ALERT
.alertContainer {
  z-index: 1230912301239;
  padding: 0.5rem;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  max-width: 450px;

  .alert {
    margin: 0.5rem;

    .header {
      display: flex !important;
      justify-content: space-between !important;

      align-items: center !important;
      height: 100%;
      width: 100%;

      p {
        margin: 0;
        padding: 5px;
      }

      i {
        font-size: 20px;
        cursor: pointer;
        transition: 0.3s ease-in-out all;

        &:hover {
          transform: scale(1.3);
          opacity: 0.7;
        }
      }
    }
  }
}

// LANDING
.landing {
  min-height: calc(100vh - 90px);

  // HERO
  .hero {
    background: linear-gradient(to right, #15cda8, #12d3cf);
    height: calc(100vh - 90px);
    padding: 50px 200px;
    padding-bottom: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

    .left {
      width: 50%;
      //   border: 1px solid red;

      h1 {
        color: #fff;
        font-family: "Montserrat";
        font-size: 5rem;
        line-height: 1.3;
        font-weight: 900;
        margin-bottom: 50px;
      }

      margin-bottom: 100px;

      .buttons {
        .hero-button {
          color: #252525;
          background: #fff;
          font-family: "Montserrat";
        }
      }
    }

    .right {
      //   border: 1px solid blue;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: hidden;
      height: 100%;

      img {
        // position: absolute;
        // width: 70%;
        // transform: rotate(10deg);

        transform: rotate(20deg);
        height: 100%;
        position: absolute;
        top: 10%;
      }
    }

    @media only screen and (max-width: 1540px) {
      padding: 10px 90px;
      .left {
        h1 {
          font-size: 4.5rem;
        }
      }
      .right {
        img {
          width: 60%;
          height: auto;
        }
      }
    }

    @media only screen and (max-width: 1140px) {
      padding: 10px 60px;

      .left {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 15px;

        h1 {
          text-align: center;
        }
      }

      .right {
        img {
          display: none;
        }
      }
    }

    @media only screen and (max-width: 767px) {
      padding: 10px 35px;
      .right {
        img {
          display: none;
        }
      }
    }

    @media only screen and (max-width: 600px) {
      .left {
        h1 {
          font-size: 3.5rem;
        }

        .buttons {
          display: flex;
          min-height: 50px;

          .button {
            font-size: 17px;
          }
        }
      }
    }

    @media only screen and (max-width: 500px) {
      .left {
        h1 {
          font-size: 2.8rem;
        }

        .buttons {
          .button {
            font-size: 15px;
          }
        }
      }
    }
  }

  //ABOUT
  .about {
    padding: 100px 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    div {
      width: 33.3333%;
      text-align: center;
      padding: 5%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      i {
        color: #15cda8;
        margin-bottom: 1rem;
        font-size: 4.3rem;
      }

      h3 {
        font-size: 2.3rem;
        font-weight: 900;
      }

      p {
        font-size: 1.5rem;
      }
    }

    @media only screen and (max-width: 1140px) {
      padding: 100px 35px;
    }

    @media only screen and (max-width: 767px) {
      display: flex;
      flex-direction: column;

      div {
        width: calc(100% - 30px);
        margin: 15px;
      }
    }

    @media only screen and (max-width: 500px) {
      div {
        h3 {
          font-size: 2rem;
        }
      }
    }
  }

  // TESTIMONIAL
  .testimonial {
    background: linear-gradient(to right, #15cda8, #12d3cf);
    padding: 100px 150px;
    text-align: center;

    .slick-prev,
    .slick-next {
      &::before {
        font-size: 30px;
      }
    }

    .slick-next {
      margin-right: 10px;
    }

    .carouselContainer {
      padding: 10px;
    }

    div {
      h3 {
        font-family: "Montserrat";
        font-size: 3.3rem;
        font-weight: 900;
        color: #fff;
        max-width: 1140px;
        margin: auto;
        margin-bottom: 50px;
      }

      .image {
        width: 250px;
        height: 250px;
        margin: auto;

        img {
          border-radius: 50%;
          height: 100%;
          width: 100%;
        }
      }

      span {
        color: #fff;
        font-size: 1.3rem;
        margin-top: 15px;
        display: block;
      }
    }

    @media only screen and (max-width: 1140px) {
      padding: 100px 35px;
    }

    @media only screen and (max-width: 767px) {
      padding: 100px 35px;

      div {
        h3 {
          font-size: 2.8rem;
        }

        .image {
          width: 200px;
          height: 200px;
        }
      }
    }

    @media only screen and (max-width: 500px) {
      div {
        h3 {
          font-size: 2.3rem;
        }

        .image {
          width: 150px;
          height: 150px;
        }
      }
    }
  }
}

// REGISTER
.auth {
  height: calc(100vh - 90px);
  width: 100%;
  background: linear-gradient(to right, #15cda8, #12d3cf);

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  position: relative;

  // SHARED
  .registerContainer,
  .loginContainer {
    position: absolute;
    width: 50%;
    height: 100%;
    transition: 0.3s ease-in-out all;

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

    .bgOverlay {
      width: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url("../src/assets/image/cutedog.jpg");

      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    .innerContainer {
      background: rgba(255, 255, 255, 0.7);

      padding: 50px 25px;
      border-radius: 10px;

      h1 {
        font-size: 3rem;
        color: black;
      }

      .sns {
        display: flex;
        justify-content: space-evenly;
        max-width: 200px;
        margin: auto;
        margin-bottom: 10px;

        i {
          border: 3px solid #eee;
          padding: 10px;
          border-radius: 50%;
          margin: 5px;
          font-size: 20px;
          cursor: pointer;
        }
      }

      span {
        display: block;
        margin-bottom: 20px;
      }

      .form {
        width: 100%;
        width: 400px;
        margin-top: 15px;

        .form-group {
          width: 100%;
          margin-bottom: 10px;

          input {
            width: 100%;
            height: 45px;
            border: none;
            background: #eee;
            padding: 5px;
            font-size: 15px;

            &:focus {
              outline: none;
              border: 3px solid #12d3cf;
            }

            &::placeholder {
              font-family: "Montserrat";
            }
          }

          .form-text {
            width: 100%;
            display: block;
            text-align: left;
            font-size: 12px;
            color: #000;
            text-shadow: 1px 1px lightgrey;
            margin-top: 3px;
          }
        }
      }
    }

    .registerBtn,
    .loginBtn {
      background: linear-gradient(to right, #12d3cf, #15cda8);
      width: 100%;
      padding: 15px;
      border: none;
      border-radius: 5px;
      font-weight: 700;
      font-size: 18px;
      color: #fff;
      font-family: "Montserrat";
      margin-bottom: 20px;
    }

    .extraContent {
      a {
        color: #12d3cf;
        font-weight: 500;
      }
    }
  }

  .registerContainer {
    z-index: 200;
  }

  .loginContainer {
    z-index: 100;

    // .bgOverlay {
    //   background-image: url("../src/assets/image/cutedog.jpg");
    // }
  }

  .overlay {
    width: 50%;
    background: linear-gradient(to right, #15cda8, #12d3cf);
    position: absolute;
    height: 100%;
    z-index: 200;

    transition: 0.3s ease-in-out all;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    .overlayContent {
      h1 {
        font-size: 3rem;
      }

      p {
        font-size: 1.7rem;
      }
    }
  }

  .stickRight {
    left: 50%;
  }

  .stayBelow {
    opacity: 0;
    z-index: 50;
    // background: pink;
    transition: 0.3s ease-in-out all;
  }

  .stickLeft {
    left: 0;
  }
}
